#root {
	/* color: white; */
}
.app-container {
	width: 100vw;
	height: 100vh;
	background-color: #c49f78;
	/* background-color: #e5c6a8; */
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 450px) {
	.app-container{
		background-color: transparent;
	}
}
