.todo-item {
    width: 380px;
	min-height: 55px;
    padding: 6px 26px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px dashed rgba(143, 168, 193, 0.3);; */
    border-bottom: 1px dashed rgba(143, 168, 193, 0.3);
    position: relative;
    /* word-break: break-all; */
    /* background-color: black; */
}
.todo-item .todo-label label{
cursor: pointer;
padding-left: 20px;
}
.todo-item .todo-buttons button {
	background: none;
	border: none;
    margin: 5px;    
}
.todo-buttons button img {
	width: 18px;
	height: 18px;
    /* background-color: red; */
}

